*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
}
    



.back1{
  height: 50px;
  width: 100%;
  transition: all 0.25s ease-in-out;
  background-color: #1C272B;
}
.inout{
  background-color: #42c7497c;
  height: 63px;
  width: 100%;
  position: fixed;
  overflow: hidden;

}
label.logox{
    color: white;
    font-size: 20px;
    padding: 0 100px;
    font-weight: 800;
  } 
   .icon {
    display: none;  }
  
 
  nav ul{
    float: right;
    margin-right: 180px;
  }
  nav ul li{
    display: inline-block;
    margin: 0 10px;
  }
  nav ul li a{
    color:white;
    font-weight: 400;
    font-size: 1em;
    font-family: NationalTrustTTRegular;
  }


  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 0px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  button[type="submit"] {
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
 
  

  
/* <form class="nosubmit">
<input class="nosubmit" type="search" placeholder="Search...">
</form>
</div></li>*/
.icon1{
  margin-left: 60px;
}
.icon2{
  margin-left:460px ;
}
.on{
  display: flex;
  justify-content: flex;
}
.icon3{
  color: white;
  margin-left: 70px;
}
.icon5{
  color: white;
  margin-left: 55px;

}
.icon6{
  color: white;
  margin-left: 45px;

}
.icon4{
  margin-left:70px ;
}
.back1{

  background-image:url(./home-bg-1.jpg);
  height: 100vh;
  width: 100%;
  background-position:center ;
  background-size: cover;
  animation: slide 12s infinite;
  object-fit: cover;
 
 
  }
  
  @keyframes slide {
    40% {
      background: url(./home-bg-2.jpg);
      background-position:center ;
      background-size: cover;

      object-fit: cover;
      

    }
    80%{
      background: url(./home-bg-3.jpg);
      background-position:center ;
      background-size: cover;
      object-fit: cover;
      



    }
  }
.slidetext{
  font-size: 4rem;
  font-family: 'black_jackregular','Times New Roman',Serif;
  font-weight: 900;
  font-style: normal;
color: white;
animation: fadein 1s 1s forwards;
padding: 270px 0 0 350px;

display: block;

}
  
 .title{
   text-align: center;
   color: black ;
   margin-top: 50px ;
   font-weight:900;
   font-size: 30px;

 }
 .khat{
  background-color: green;
  margin-right:5px;
  height: 5px;
  width: 150px;
  border-radius: 3px;
  margin-top:60px ;
  margin-left: 5px;

}
.align{
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-caontainer{
  background-color: #F5F5F5 ;
    height: 350px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:50px 0px 0px 90px ;
}
.box-caontainer4{
  background-color: #F5F5F5 ;
    height: 350px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:50px 0px 0px 90px ;
}.box-caontainer3{
  background-color: #F5F5F5 ;
    height: 350px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:50px 0px 0px 90px ;
}
.box-caontainer5{
  background-color: #F5F5F5 ;
    height: 350px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:50px 0px 0px 90px ;
}
.f{
  display: flex;
  justify-content: flex;
}
.img1{
  background-image: url(./bnimtyr.png);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.title2{
  text-align: center;
  font-size: 24px;
  color: #1d2434;
  font-weight: 700;
  margin-top: 5px;

}
.ff{
  display: flex;
  justify-content: flex;
  text-align: center;
  margin-left: 90px;
  color: #1d2434;
  margin-top: 10px;

}
.price{
  margin-left:5px;
  font-size: 18px;
}
.buton{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-left: 75px;

}
.img2{
  background-image: url(./sogno.jpg);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.img3{
  background-image: url(./barrage-293017-6.jpg);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.img4{
  background-image: url(./ainsoltana.jfif);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.img5{
  background-image: url(./borjcedira.jfif);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.img6{
  background-image: url(./bb3d0b8ecc77ca31a3520aa858f0c5af.webp);
  height:200px;
   width:320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5px;
}
.khat2{
  background-color: green;
  margin-right:5px;
  height: 5px;
  width: 150px;
  border-radius: 3px;
  margin-top:10px ;
  margin-left: 5px;

}
.title3{
  color: black ;
  margin-top: 10px ;
  font-weight:600;
  font-size: 26px;
}

.map2 iframe {
  height: 400px;
  width: 70vw;
  margin: 20px 0px 0px 200px;
}


.img7{
  background-image: url(./ffa3289855384571425_3327318370850442741_n.jpg);
  height:440px;
  width:460px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   margin: 110px 0px 0px 200px;
   box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);

 
}
.signupForm {
  width: 100%  ;
  height: 100% ;
  padding: 100px 0px 0px 100px;
  background: rgba(20, 40, 40, 0.8);
  transition: .2s;
}
.noBullet {
  list-style-type: none;
  padding: 0;
}
.inputFields {
  margin: 13px 0;
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  width: 250px;
  border: 1px solid #E8FFC2;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
}
#join-btn {
  border: 1px solid #E8FFC2;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}
#join-btn:hover {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
.title5 {
  font-weight: 300;
  text-align: center;
}
.align2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img8{
  background-image: url(./category-1.jpg);
  height: 15rem;
   width:15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-right: 40px;


}
.img9{
  background-image: url(./category-2.jpg);
  height: 15rem;
   width:15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-left: 40px;

}
.img10{
  background-image: url(./category-3.jpg);
  height: 15rem;
   width:15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-left: 80px;
}
.img11{
  background-image: url(./category-4.jpg);
  height: 15rem;
   width:15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-left: 80px;


}
.fff{
  display: flex;
  justify-content: flex;
  margin: 100px 0px 0px 70px;
}
.title10{
  margin-left: 123px;
  margin-top: 18px;
  color: green;
  
}
.title11{
  margin-left: 163px;
  margin-top: 18px;
  color: green;
  
}
.title12{
  margin-left: 169px;
  margin-top: 18px;
  color: green;
  
}
.title9{
  margin-left: 63px;
  margin-top: 18px;
  color: green;
  
}
.buton2{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;

}
.buton3{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-left: 75px;

}.buton4{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-left: 120px;

}
.buton5{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-left: 135px;

}
.boxx1{
  background-color: white;
  height: 400px;
  width: 320px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: block;
}
.respon{
  display: flex;
  justify-content: flex;
}
.img12{
  background-image: url(./product-1.jpg);
  height:250px ;
  width :340px;
 background-size: 100% 100%;
 margin-top: 1px;
background-repeat: no-repeat;
    
}
.title13{
  text-align: center;
  font-size: 26px;
  color: black;
  font-weight:700;
  margin-top: 20px;
}
.title16{
  text-align: center;
  font-size: 26px;
  color: black;
  font-weight:700;
  margin-top: 20px;

}
.title14{
  text-align: center;
  font-size: 22px;
  color: green;
  font-weight:400;
  margin-top: 20px;
  
}
.start{
  display: flex;
  justify-content: flex;
color: #000;
margin: 5px 0 0 120px;  
font-size: 17px;
}
.img14{
  background-image: url(./product-4.jpg);
  height:250px ;
  width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;

}
.img15{
  background-image: url(./product-3.JPG);
  height:250px ;
  width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;

}
.img16{
  background-image: url(./product-6.jpg);
  height:250px ;
 width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;

}
.img17
{
  background-image: url(./Screenshot\ 2022-03-06\ 165559.png);
  height:250px ;
  width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
}
.img18
{
  background-image: url(./product-2.jpg);
  height:250px ;
  width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img19{
  background-image: url(./Screenshot\ 2022-03-06\ 164947.png);
  height:250px ;
  width :340px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
    
}
.swiper {
  width: 340px;
  height: 500px;
  
}
.swiper-slide {
  display: flex;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  
}
.swiper-slide:nth-child(1n) {
  background-color: white;
  
  
}

.swiper-slide:nth-child(2n) {
  background-color: white;

}

.swiper-slide:nth-child(3n) {
  background-color: white;

}

.swiper-slide:nth-child(4n) {
  background-color: white;

}

.swiper-slide:nth-child(5n) {
  background-color: white;
}

.swiper-slide:nth-child(6n) {
  background-color: white;
}

.swiper-slide:nth-child(7n) {
  background-color: white;
}
.buton6{
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid black;
  background: none;
  text-shadow: none;
  font-style:normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;

}
.buton1:hover{
  color: white;
  background-color: #95CD41  ;  color: black;
}
.buton2:hover{
  color: white;
  background-color: #95CD41  ;  color: black;

}.buton3:hover{
  color: white;
  background-color: #95CD41  ;  color: black;

}.buton4:hover{
  color: white;
  background-color: #95CD41 ;  color: black;

}
.buton5:hover{
  color: white;
  background-color: #95CD41 ;
  color: black;

}.buton:hover{
  color: white;
  background-color: #95CD41  ;  color: black;
}
.buton6:hover{
  color: black;
  background-color: #95CD41;
}

.aaa{
  margin-top: 70px;;
}
.align5{
  display: flex;
  justify-content: flex;

}
.text{
margin: 50px  0 0 200px ;
font-size: 16px;
color: grey;


}
.cla{
  margin-top: 100px;
}

.align5{
  display: flex;
  justify-content: flex;

}
.timelign{
  background-color: #E9ECEF;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0px 0 0 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
h4{
  color: black;
  font-size: 20px;
  margin: 0px;
}
h3{
  color: black;
  margin: 0px;
}
.timelignimg{
  background-image: url(./vtt.jpg);
  height: 185px;
  width: 185px;
  border-radius: 50%;
  margin: 9px 5px 5px 7px ;
  background-size: 100% 100%;
background-repeat: no-repeat;
  

}
.text5{
  margin: 0px  0 0  40px ;
  font-size: 16px;
  color: grey;
  
  
  }
  .text8{
    margin: 25px  0 0  40px ;
    font-size: 16px;
    color: grey;
    
    
    }
  .timelign2{
    background-color: #E9ECEF;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 50px 0 0 703px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .timelignimg1{
    background-image: url(./275377841_3291946647695632_2345221079619846000_n.jpg);
    height: 185px;
    width: 185px;
    border-radius: 50%;
    margin: 9px 5px 5px 7px ;
    background-size: 100% 100%;
background-repeat: no-repeat;
    

  }
  .text6{
    margin: 60px  0 0  60px ;
    font-size: 16px;
    color: grey;
    
    
    }
    .timelignimg2{
      background-image: url(./bb.jpg);
      height: 185px;
  width: 185px;
  border-radius: 50%;
  margin: 9px 5px 5px 7px ;
  background-size: 100% 100%;
background-repeat: no-repeat;
      
  
    }
    .timelign3{
      background-color: #E9ECEF;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin: 0px 0 0 100px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    } 
    .text7{
      margin: 0px  0 0  40px ;
      font-size: 16px;
      color: grey;
      
      
      }
      
      .timelignimg3{
        background-image: url(./271008995_3241919752698322_7101492260307349256_n.jpg);
        height: 185px;
        width: 185px;
        border-radius: 50%;
        margin: 7px 5px 5px 7px ;
        background-size: 100% 100%;
    background-repeat: no-repeat;
        
    
      }
      .align6{
        display: flex;
        justify-content: flex;
       
    
      }
      .align8{
        display: flex;
        justify-content: flex;
       
    
      }
      .back3{
        margin-top: 80px;
        background-color:#FDFFA9
        ;
        width: 100%;
        height: 380px;
      }
      .boxe1{
    background-color:white;
    height: 120px;
    width: 305px;
    margin: 50px 0 0 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
    .img23{
      background-image: url(./chrab.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 120px;
      width:170px ;
    }
    .text4{
     margin-left: 20px;
     margin-top: 30px;
    }
    .boxe2{
      background-color:white ;
    height: 120px;
    width: 305px;
    margin: 50px 0 0 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    }
    .img24{
      background-image: url(./no-drugs.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 120px;
      width:170px ;
    
    }
    .boxe3{
      background-color:white ;
    height: 120px;
    width: 305px;
    margin: 50px 0 0 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    }
    .img25{
      background-image: url(./no-hunting-sign-pr12-750x750.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 120px;
      width:170px ;
    
    }
    
    .boxe4{
      background-color:white ;
    height: 120px;
    width: 305px;
    margin: 50px 0 0 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    }
    .img26{
      background-image: url(./keep\ -\ Copy.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 120px;
      width:120px ;
    
    }
.clients{
  margin-top: 200px;
   
}
.swiper {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img20 {
  display: block;
  margin-left: 50px;
  background-repeat: no-repeat;
  }
  .img21 {
  display: block;
  margin-left: 50px;
  background-repeat: no-repeat;
 
  }
  .footer {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(./footer-bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
    margin-top: 100px;
  
  } 
  .align7{
    display: flex;
    justify-content: flex;
    padding: 30px 0 0 100px;
  }
  .title15{
    font-size:20px;
  color: #42c7497c

  ;
  font-weight: 900;
  }
  .inbox{
    color: white;
    margin-top: 30px;
    text-decoration: none;
    
  }
  .box6{
margin-left: 200px;
  }
  .box7{
    margin-left: 200px;
      }
      .box8{
        margin-left: 200px;
          }


.icon4{
  color: #00e600;
  margin-right: 10px;

}
.inbox:hover{
  color: #42c7497c;
}
.inout:hover{
  background-color: #42c7497c;
  height:75px;
  width: 100%;
  z-index: 999;

}

a:hover{
  color: black;
}
.cla2{
  margin-top: 10px;
}
@media screen and (max-width: 700px) {

.fff{
  display: block;
  justify-content: center;
}
.img8,.img9,.img10,.img11
{  margin: 10px 0 0 45px;


}
.buton2,.buton3,.buton4,.buton5
{  margin: 15px 0 0 85px;


}
.title9,.title10,.title11,.title12
{  margin: 15px 0 0 120px;
}


}
@media screen and (max-width: 1270px) and (min-width: 1100px){
  .fff{
    margin: 80px 0px 0px 40px;

  }
  .img8,.img9,.img10,.img11
{  margin-left: 20px  ;


}
.buton2,.buton3,.buton4,.buton5
{  margin:20px 0 0 50px;


}
.title9,.title10,.title11,.title12
{    margin:20px 0 0 100px;
}
}
@media screen and (max-width: 1270px) and (min-width: 1144px){

.box-caontainer, .box-caontainer2,.box-caontainer4,.box-caontainer5{
  margin:50px 0px 0px 60px ;

}
.slidetext{
  font-size: 4rem;
  
color: white;
padding: 170px 0 0 250px;



}
}
  



@media screen and (max-width: 1100px) and (min-width: 700px){

.fff{
  display: block;
  justify-content: center;
 
}
.img8,.img9,.img10,.img11
{  margin-left: 250px  ;
  margin-top: 15px;


}
.buton2,.buton3,.buton4,.buton5
{  margin:20px 0 0 300px;


}
.title9
{    margin:20px 0 0 315px;
}
.title10,.title11,.title12{
     margin:20px 0 0 330px;


}




}

@media screen and (max-width: 1145px){
  .box-caontainer{
    margin:50px 0px 0px 90px ;
  
  }
  .box-caontainer4{
    margin:60px 0px 0px 90px ;

  }
  .box-caontainer3,.box-caontainer5{
    margin:50px 0px 0px -100px ;
    align-items: center;

  }

}
@media screen and (max-width: 400px){

.buton6{
  padding: 10px 15px;
  margin-bottom: 5px;



}
.title13{
  font-size: 22px;

}
.title16{
  font-size: 15px;

}
.title14{
  font-size: 18px;

 
}



}
@media screen and (max-width: 1100px){
  .align8{
    display: block;
    justify-content: center;
    width: 100%;
  }
  .back3{
    height: 700px;
  }
  .boxe1,.boxe3{
margin-left: 230px;
  }
  
  .boxe2,.boxe4{
    margin-left: 320px;
      }
      
  .text4{
    margin:30px 0 0 40px;
  }
  .slidetext{
    font-size: 3.75rem;
    
  color: white;
  padding: 200px 0 0 150px;
  
  
  
  }

}
@media screen and (max-width: 700px){
  .align8{
    display: block;
    justify-content: center;
    width: 100%;
  }
  .back3{
    height: 700px;
  }
  .boxe1,.boxe3{
margin-left: 130px;
  }
  
  .boxe2,.boxe4{
    margin-left: 220px;
      }
      
  .text4{
    margin:30px 0 0 40px;
  }
  .f{
    display: block;
  }
  .box-caontainer{
    transform: translateX(130px);

  }
  .box-caontainer5,.box-caontainer3
  {
    transform: translateX(310px);

  }
  .box-caontainer4{
    transform: translateX(110px);

  }
  .slidetext{
    font-size: 2rem;
    font-weight: 700;
  padding: 200px 0 0 100px;
  
  
  
  }

}  

@media screen and (max-width: 550px){
  .align8{
    display: block;
    justify-content: center;
    width: 100%;
  }
  .back3{
    height: 700px;
  }
  .boxe1,.boxe3{
margin-left: 20px;
  }
  
  .boxe2,.boxe4{
    margin-left: 80px;
      }
      
  .text4{
    margin:30px 0 0 40px;
  }
  .box-caontainer,.box-caontainer3,.box-caontainer4,.box-caontainer5{  
      margin:50px 0px 0px 100px ;
  
  }
}

@media screen and (max-width: 390px){
  .align8{
    display: block;
    justify-content: center;
    width: 100%;
  }
  .back3{
    height: 700px;
  }
  .boxe1,.boxe3{
margin-left: 20px;
  }
  
  .boxe2,.boxe4{
    margin-left: 60px;
      }
      
  .text4{
    margin:30px 0 0 40px;
  }
  .box-caontainer,.box-caontainer3,.box-caontainer4,.box-caontainer5{
    margin:50px 0px 0px 30px ;
  
  }
  .slidetext{
    font-size: 2rem;
    font-weight: 700;
  padding: 200px 0 0 20px;
  
  }
}


  


@media screen and (max-width: 1180px){
  
  .box6,.box7,.box8{
    margin-left: 150px;
      }
      .timelign2{
        margin: 50px 0 0 503px;
      }
      .text6{
        margin: 60px  0 0  30px ;
        font-size: 16px;
        color: grey;
        
        
        }
      
    

}
@media screen and (max-width: 1050px){
  
  .box6,.box7,.box8{
    margin-left: 120px;
      }
      
    

}@media screen and (max-width: 940px){
  
  .box6,.box7,.box8{
    margin-left: 80px;
      }
      
.map2 iframe {
  height: 400px;
  width: 70vw;
  margin: 20px 0px 0px 150px;
}
.timelign2{
  margin: 50px 0 0 403px;
}
.text6{
  margin: 60px  0 0  25px ;
 
  
  
  }

    

}
@media screen and (max-width: 830px){
  
  .box6,.box7,.box8{
    margin-left: 40px;
      }
      .align7{
        padding: 30px 0 0 50px;

      }
      .timelign2{
        margin: 50px 0 0 253px;
      }
     
      
    


    }

    @media screen and (max-width: 650px){
  
      .box6,.box7,.box8{
        margin-left: 20px;
          }
          .align7{
            padding: 30px 0 0 40px;
    
          }
          .map2 iframe {
            height: 400px;
            width: 70vw;
            margin: 20px 0px 0px 80px;
          }
          
              
          
        
    
    }
    @media screen and (max-width: 570px){
  
      .box6,.box7,.box8{
        margin-left: 20px;
          }
          .align7{
            padding: 30px 0 0 10px;
    
          }
          
        
    
    }
    @media screen and (max-width: 540px){ 
      .align7{
        display: block;
        justify-content: center;
        padding: 10px 0 0 150px;
      }
      .box6,.box7,.box8{
        margin : 0px;
          }
          .title15{
            font-size:24px;
            margin-top: 20px;
         
          }
          .inbox{
            
            margin-top: 30px;
            margin-bottom: 10px;
font-size: 20px;            
          }
          .footer {
            
            height: 1250px;
           
          
          } 
          .timelign2{
            margin: 50px 0 0 100px;
          }
          .timelign{
            
            margin: 0px 0 0 20px;
          }
          .timelign3{
            
            margin: 20px 0 0 20px;
          }
          


    }




 
    @media screen and (max-width: 380px){
      .align7{
        display: block;
        justify-content: center;
        padding: 10px 0 0 100px;
      }
      .box6,.box7,.box8{
        margin : 0px;
          }
          .title15{
            font-size:24px;
            margin-top: 20px;
         
          }
          .inbox{
            
            margin-top: 30px;
            margin-bottom: 10px;
font-size: 20px;            
          }
          .footer { 
            
            height: 1250px;
           
          
          } 
          .map2 iframe {
            height: 400px;
            width: 70vw;
            margin: 20px 0px 0px 40px;
          }
          
              


    }

    @media screen and (max-width: 700px){
      .timelign2{
        margin: 50px 0 0 150px;
      }
      .timelign{
        
        margin: 0px 0 0 40px;
      }
     
    .on{
      display: none;
    }
    ul{
display: none;

    }
    li{
      display: none;
      
          } 

          .icon{
            float: right;
    display: block;
    font-size: 30px;
    margin-right: 50px;
    color: white;
  }
          
        .logox{
          float: left;

          display: block;
        }
        .timelign3{
            
          margin: 50px 0 0 40px;
        }
        .text8{
          margin: 70px  0 0  20px ;

        }


        .on-mobile{
          position: fixed;
          right: 0;
          top : 70px;
          display: block;
          transform: translateX(102%);
          width: fit-content;
          background-color: black;
          padding: 50px 50px;
          height: calc(100vh - 70px);
          font-size: 2.5rem;
          transition: transform 400ms ease;
      
        
      }
      .on-mobile.open{
        
        transform: translateX(100px) !important;
    }
    .animation.fa-times{
      transform: rotate(180deg);
      transition: transform 300ms ease;
  }
  .animation.fa-bars{
      transform: rotate(0deg);
      transition: transform 300ms ease;
  }
  .innav{
    display: block;
  }
  .logo{
    transform: translateX(-100px);
  }
  }
        
      


        @media screen and (max-width: 500px){

  
          .timelign2{
            margin: 50px 0 0 0px;
          }
          .timelign{
            
            margin: 0px 0 0 5px;
          }
          .timelign3{
            
            margin: 80px 0 0 20px;
          }
          .f{
            display: block;
          }
          .box-caontainer{
            transform: translateX(50px);
        
          }
          .box-caontainer5,.box-caontainer3
          {
            transform: translateX(230px);
        
          }
          .box-caontainer4{
            transform: translateX(30px);
        
          }
          .logo{
            margin-left: 10px;
          }
          

        }      
        

        @media screen and (max-width: 400px){


        .text5,.text6,.text7,.text8{
          margin: 30px  0 0  10px ;
          font-size: 16px;
          color: grey;
          
          
          }
          .f{
            display: block;
          }
          .box-caontainer{
            transform: translateX(0px);
        
          }
          .box-caontainer5,.box-caontainer3
          {
            transform: translateX(180px);
        
          }
          .box-caontainer4{
            transform: translateX(-20px);
        
          }
          .logo{
            transform: translateX(-110px);
            
            padding: 0;
          }
         

        }
        @media screen and (max-width: 1144px) {
          .respon{
            display: block;
          }


        }

        @media screen and (max-width: 816px){
          .box-caontainer{
            margin:50px 0px 0px 30px ;
          
          }
          .box-caontainer4{
            margin:60px 0px 0px 50px ;
        
          }
          .box-caontainer3,.box-caontainer5{
            margin:50px 0px 0px -150px ;
        
          }
          
        
        
        }


        .box-caontainer:hover{
          background-color: #FDFFA9;
          
      
        }
        .box-caontainer5:hover{
          background-color: #FDFFA9;

        }
        
        .box-caontainer3:hover
        {          background-color: #FDFFA9;

        
        }
        .box-caontainer4:hover{
         
          background-color: #FDFFA9;

        }
        .on-mobile{
          display: none;
      }      
      .inout2{
        display: none;
      }
      .navbar{
        display: flex;
        height: 70px;
        width: 100%;
        align-items: center;
        position: fixed;
        background-color: #42c7497c;
        z-index: 999;

    }
    
    .navigation{
        display: flex;
        margin-left: auto;
        padding-right: 160px;
    }
    .nav{
        margin: 0  15px;
       
    }
    .logo{
      background-image: url(./logo2travel-movebg-preview.png);
        color: white;
        margin-left: 150px;
        height: 100px;
         width:150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }
    .nav a{
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
    }
    .nav a:hover{color: #000;}
    .navigation-mobile{
        display: none;
    }
    .btn{
        display:none;
    }
    @media screen and (max-width: 900px) {
        .logo{
            padding-left: 60px;
        }
        .btn{
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: 60px;
            cursor: pointer;
            color: white;
        }
        .navigation{
            display: none;
        }
       
        .navigation-mobile{
            position: fixed;
            right: 0px;
            top : 70px;
            display: block; 
            transform: translateY(102%);
            background-color: #42c7497c;;
            height: 100px;
            padding: 50px 50px;
            height: calc(100vh - 70px);
            font-size: 2.5rem;
            transition: transform 400ms ease;
            z-index: 999;

        }
        
        .navigation-mobile.open{
            transform: translateY(0px) !important;
        }
      
    
        .animation.fa-times{
            transform: rotate(180deg);
            transition: transform 300ms ease;
        }
        .animation.fa-bars{
            transform: rotate(0deg);
            transition: transform 300ms ease;
        }
        .nav a{
          font-size: 1.5rem;
    }
   
    
    }


    .child {
      cursor: pointer;
      opacity: 1;
      transition: 0.5s opacity;
    }
    
    .modal-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: -1;
      opacity: 0;
    }
    .modal-container.open {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      z-index: 1;
    }
    .modal-content {
      
      opacity: 0;
      transform: translateY(-50px);
      z-index: 2;
    }
    .modal-content.open {
    
      transform: translateY(0px);
      transition: all 0.2s linear;
      opacity: 1;
    }
    .modal-blur{
      opacity: 1;
      z-index: 1;
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      height: 100vh;
      width: 100vw;
    }
    @media screen and (max-width: 1150px) and (min-width: 890px){
      .logo{
        transform: translateX(-150px);
      }
       
    .navigation{
     
      padding-right: 10px;
  }
    }